[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dr-Jeff-Carver
[access "refs/for/refs/*"]
	read = group user/Dr-Jeff-Carver
	push = group user/Dr-Jeff-Carver
	label-Code-Review = -2..+2 group user/Dr-Jeff-Carver
	label-Verified = -1..+1 group user/Dr-Jeff-Carver
	rebase = group user/Dr-Jeff-Carver
	removeReviewer = group user/Dr-Jeff-Carver
	submit = group user/Dr-Jeff-Carver
[access "refs/heads/*"]
	read = group user/Dr-Jeff-Carver
	create = group user/Dr-Jeff-Carver
	push = +force group user/Dr-Jeff-Carver
	pushMerge = group user/Dr-Jeff-Carver
[access "refs/tags/*"]
	push = group user/Dr-Jeff-Carver
	push = +force group user/Dr-Jeff-Carver
